<div class="page-header" data-parallax="true">
  <div class="px-3">
    <h1>Cesantías</h1>

    <p>
      Las cesantías son uno de nuestros ahorros más importantes, por eso no deben quedar
      al cuidado de cualquiera. Confia en nosotros para proteger tus ahorros y sacarles el
      máximo provecho con nuestros rendimientos.
    </p>

    <div class="px-5 row">

      <div class="col-md-12 col-lg-4">
        <h3>¿Qué son las cesantías?</h3>
      </div>

      <div class="col-md-12 col-lg-4">
        <h3>¿Para qué se sirven?</h3>
      </div>

      <div class="col-md-12 col-lg-4">
        <h3>¿Cuándo y cómo se liquidan?</h3>
      </div>
    </div>

    <div class="px-5 row">

      <div class="col-md-12 col-lg-4">
        <p>
          Son una prestación social que el empleador debe pagar a sus trabajadores adicional al salario
          ordinario, y equivale a un mes de salario por cada año trabajado del empleado.
        </p>
      </div>

      <div class="col-md-12 col-lg-4">
        <p>
          Este ahorro te sirve para las siguientes tres situaciones:
        </p>
        <ul>
          <li>Compra de vivienda</li>
          <li>Pago de estudios</li>
          <li>Desempleo</li>
        </ul>
      </div>

      <div class="col-md-12 col-lg-4">
        <p>Se liquidan el 31 de diciembre de cada año, y el empleador debe consignarlas al fondo de
          cesantías elegido antes del 15 de febrero del siguiente año.
        </p>
      </div>
    </div>

    <h3>Calcula tus cesantías</h3>
    <p>A continuación podrás encontrar una herramienta que te permitirá calcular tus cesantías,
      diligencia la información solicitada y te diremos el valor correspondiente.
    </p>

    <div>
      <form class="form-group">
        <div class="row">
          <div class="col-md-2">
            <label>Fecha Ingreso</label>
            <div class="input-group date" [ngClass]="{'input-group-focus':focus===true}">
              <input class="form-control" placeholder="YYYY-MM-DD" name="dp" [(ngModel)]="model" ngbDatepicker
                #d="ngbDatepicker" (click)="d.toggle()" (focus)="focus=true" (blur)="focus=false" />
              <div class="input-group-append">
                <span class="glyphicon glyphicon-calendar input-group-text">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <label>Fecha Retiro</label>
            <div class="input-group date" [ngClass]="{'input-group-focus':focus===true}">
              <input class="form-control" placeholder="YYYY-MM-DD" name="dp" [(ngModel)]="model" ngbDatepicker
                #d="ngbDatepicker" (click)="d.toggle()" (focus)="focus=true" (blur)="focus=false" />
              <div class="input-group-append">
                <span class="glyphicon glyphicon-calendar input-group-text">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <label>Salario</label>
            <input type="number" class="form-control" id="formGroupExampleInput" placeholder="$">
          </div>
          <div class="col-md-2">
            <label>Cesantías</label>
            <input type="number" class="form-control" id="formGroupExampleInput" placeholder="$" readonly>
          </div>
          <div class="col-md-2">
              <button class="pt-2 btn btn-danger btn-fill">Calcular</button>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>