<nav id="menu" class="navbar navbar-expand-lg navColor navbar-toggler-md fixed-top">
    <a class="navbar-brand" href="index.html">
      <img src="assets/img/logo-02.svg" width="240" height="40" alt="Valhalla">
    </a>

    <!--Menú en Responsive-->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!--Menú links-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="d-flex flex-row ">
        <a [routerLink]="['/login']" class="ml-auto" *ngIf="!empleadoLogueado" class="nav-item btn btn-success mr-2" href="login">Personas</a>
        <a class="nav-item btn btn-success" href="login-empresa" [routerLink]="['/login-empresa']" *ngIf="!empresaLogueada">Empresas</a>
      </div>

      <div class="navbar-nav ml-auto text-center ">
        <a class="nav-item nav-link aText" href="afiliate"> Afiliación </a>
        <a class="nav-item nav-link aText" href="inversion"> Inversiones </a>
        <a class="nav-item nav-link aText" href="cesantias"> Cesantías </a>
        <a class="nav-item nav-link aText" href="pension"> Pensiones </a>
        <a [routerLink]=""  (click)="cerrarSesion()" class="nav-link aText" *ngIf="empleadoLogueado">
            <i class="far fa-user"></i>
            Cerrar sesion
          </a>
          <a [routerLink]=""  (click)="cerrarSesionEmpresa()" class="nav-link aText" *ngIf="empresaLogueada">
            <i class="far fa-user"></i>
            Cerrar sesion
          </a>

      </div>
    </div>
</nav>

<!-- <div class="py-4"></div> -->