<div class="p-3">
    <h1>Pensiones</h1>

    <p>
        Las pensiones obligatorias son un ahorro que se incrementa durante tu vida laboral, sea como trabajador
        independiente o con el aporte para tu pensión, que haces tú y la empresa donde trabajas. Este es un pago de por
        vida y obligatorio, que recibirás si has cotizado en el sistema pensional y cumples las condiciones que define
        la ley.
    </p>

    <div class="px-5 row">
        <div class="col-md-12">
            <h3 class="text-center">¿Qué tipos de pensión existen?</h3>
        </div>
    </div>

    <div class="px-5 row">

        <div class="col-md-12 col-lg-4">
            <h3>Vejez</h3>
        </div>

        <div class="col-md-12 col-lg-4">
            <h3>Invalidez</h3>
        </div>

        <div class="col-md-12 col-lg-4">
            <h3>Sobrevivencia</h3>
        </div>
    </div>

    <div class="px-5 row">

        <div class="col-md-12 col-lg-4">
            <p>
                La pensión por vejez es un ingreso mensual de por vida que obtienes al cumplir 62 años si eres hombre, o
                57 si eres mujer, siempre y cuando lo que hayas cotizado durante tu vida laboral permita financiar una
                pensión de por lo menos 1 salario mínimo.
            </p>
        </div>

        <div class="col-md-12 col-lg-4">
            <p>
                Es una prestación económica que te entrega un pago mensual si una autoridad competente define que has
                perdido el 50% o más de tu capacidad laboral física o psíquica, por una causa no profesional ni
                provocada voluntariamente.
                <br>
                Para tener este derecho, debes haber cotizado 50 semanas o más en los tres años anteriores a la fecha en
                la cual se produjo la enfermedad o el accidente.
            </p>
        </div>

        <div class="col-md-12 col-lg-4">
            <p>
                Esta pensión se paga a los beneficiarios del afiliado o pensionado que ha fallecido. Así, el aporte a
                pensión actúa como un seguro ante la invalidez o muerte.
            </p>
        </div>
    </div>



</div>