<div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/img/car_2.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block">
            <h1 class="titulo-car">¿Sabes cómo empezar a cumplir tus sueños?</h1>
            <a href="" class="btn btn-primary"> Aprende cómo</a>
          </div>
        </div>

        <div class="carousel-item">
          <img src="assets/img/car_3.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block">
            <br>
            <h1 class="titulo-car">Abre las puertas a tú futuro</h1>
            <a href="" class="btn btn-primary"> Afiliate ahora</a>
          </div>
        </div>

        <div class="carousel-item">
          <img src="assets/img/car_1.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption  d-md-block">
            <h1 class="titulo-car">Invierte tus ahorros inteligentemente</h1>
            <a href="" class="btn btn-primary"> Comienza Ahora</a>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
      </a>
    </div>
  </div>


  <div >
    <h1 class="titulo"> Todo lo puedes a un <b class="font-weight-bolder">click</b> </h1>

    <!--Links shortcuts-->

    <div class="card-group container pt-5">

      <div class="card cardFondo mr-3">
        <a class="aColorF" href="#">
          <img src="assets/img/icon-pago.svg" width="60" height="60" class="card-img-top" alt="Inversiones">
          <div class="card-body">
            <h5 class="card-title aColorF font-weight-bold text-center">E-Pagos</h5>
          </div>
        </a>

      </div>
      <div class="card cardFondo mr-3">
        <a class="aColorF" href="#">
          <img src="assets/img/icon-Ahorro.svg" width="60" height="60" class="card-img-top" alt="Inversiones">
          <div class="card-body">
            <h5 class="ccard-title aColorF font-weight-bold text-center">Ahorro</h5>
          </div>
        </a>

      </div>

      <div class="card cardFondo mr-3">
        <a class="aColorF" href="#">
          <img src="assets/img/icon-Inversion-01.svg" width="60" height="60" class="card-img-top" alt="Inversiones">
          <div class="card-body">
            <h5 class="card-title aColorF font-weight-bold text-center">Inveriones</h5>
          </div>
        </a>

      </div>

      <div class="card cardFondo mr-3">
        <a class="aColorF" href="#">
          <img src="assets/img/icon-certifica.svg" width="60" height="60" class="card-img-top" alt="Inversiones">
          <div class="card-body">
            <h5 class="card-title aColorF font-weight-bold text-center">CertiRapi</h5>
          </div>
        </a>

      </div>

      <div class="card cardFondo">
        <a class="aColorF" href="#">
          <img src="assets/img/icon-contacto.svg" width="60" height="60" class="card-img-top" alt="Inversiones">
          <div class="card-body">
            <h5 class="card-title aColorF font-weight-bold text-center">Charlemos</h5>
          </div>
        </a>

      </div>
    </div>

    <h1 class="titulo pb-4"> Aprende de los <b class="font-weight-bolder">mejores</b> </h1>

<!--Links de Información-->

    <div class="card-columns container">
        <div class="card">
          <a class="aTextNews" href="#">
            <img src="assets/img/new_1.png" class="card-img-top" alt="Inversión">
            <div class="card-body">
              <h5 class="card-title">Una misión, una ruta para invertir</h5>
              <p class="card-text">Tengo que decir que no tenía mucha fe en la misión del mercado de capitales...</p>
              <p class="card-text"><small class="text-muted">hace 3 mins</small></p>
            </div>
            
          </a>
        </div>

        <div class="card p-3">
          <blockquote class="blockquote mb-0 card-body">
            <p>Gasta siempre una moneda menos de lo que ganes</p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                  Cesare Cantù<cite title="Source Title">historiador y escritor italiano</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        
        <div class="card">
          <a class="aTextNews" href="#">
          <img src="assets/img/new_2.png" class="card-img-top" alt="Presidente Duque">
          <div class="card-body">
            <h5 class="card-title">Iván Duque plantea nueva forma de financiar educación superior con las cesantías</h5>
            <p class="card-text">El nuevo Decreto 1562 de 2019 estipula que ahora se podrán retirar las cesantías...</p>
            <p class="card-text"><small class="text-muted">hace 1 hora</small></p>
          </div>
          </a>
        </div>


        <div class="card bg-primary text-white text-center p-3">
          <blockquote class="blockquote mb-0">
            <p>La forma más rápida de doblar tu dinero es plegar los billetes y meterlos en el bolsillo</p>
            <footer class="blockquote-footer text-white">
              <small>
                  Will Rogers<cite title="Source Title">Humorista y actor estadounidense</cite>
              </small>
            </footer>
          </blockquote>
        </div>

        <div class="card p-3 text-right">
            <blockquote class="blockquote mb-0">
              <p>Ahorrar no es solo guardar, sino saber gastar </p>
              <footer class="blockquote-footer">
                <small class="text-muted">
                    anónimo <cite title="Source Title">Para masticar y entender</cite>
                </small>
              </footer>
            </blockquote>
          </div>


        <div class="card">
            <a class="aTextNews" href="#">
            <img src="assets/img/new_3.png" class="card-img-top" alt="Presidente Duque">
            <div class="card-body">
              <h5 class="card-title">Se quieren devorar nuestras pensiones</h5>
              <p class="card-text">Las AFP insisten en el modelo chileno de pocas empresas que acaparan ...</p>
              <p class="card-text"><small class="text-muted">hace 2 horas</small></p>
            </div>
            </a>
          </div>


      </div>

  </div>