<div style="height:60px"></div>

<div class="fondoInversiones">
  <div class="col-9">
    <h2 class="TituloInver">
      Un experto en decisiones elige a un experto en inversiones
    </h2>
    <h5>VALHALLA, su proxima buena decisión.</h5>
    <br />
    <iframe
      width=" 560"
      height="315"
      src="https://www.youtube.com/embed/F6rruydac9I"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <br />
    <br />
    <!-- Modal POP_UP-->
    <!-- Button trigger modal -->
    <a
      href="#"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#exampleModalScrollable"
    >
      Quiero invertir con VALHALLA
    </a>
    <a href="" class="btn btn-outline-primary ml-2">
      Ya invierto con VALHALLA</a
    >
    <br />
    <br />
  </div>
</div>
