<div style="height:70px"></div>

<ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
          <p>
            <mdb-icon fas icon="quote-left"></mdb-icon> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos
            id
            officiis hic tenetur quae quaerat ad
            velit ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore cum accusamus eveniet
            molestias
            voluptatum
            inventore laboriosam labore sit, aspernatur praesentium iste impedit quidem dolor veniam.
          </p>
          <h4 class="font-weight-bold">Anna Deynah</h4>
          <h6 class="font-weight-bold my-3">Founder at ET Company</h6>
          <!--Review-->
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star-half" class="blue-text"> </mdb-icon>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/img/car_3.jpg" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h1 class="titulo-car">Abre las puertas a tú futuro</h1>
        <a href="" class="btn btn-primary"> Afiliate ahora</a>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/img/car_4.png" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h1 class="titulo-car">Invierte tus ahorros inteligentemente</h1>
        <a href="" class="btn btn-primary"> Comienza Ahora</a>
      </div>
    </ng-template>
  </ngb-carousel>