<div style="height:60px"></div>

<div class="fondoInversiones">
  <div class="col-9">
    <h2 class="TituloInver">
      Un experto en decisiones elige a un experto en inversiones
    </h2>
    <h5>VALHALLA, su proxima buena decisión.</h5>
    <br />
    <iframe
      width=" 560"
      height="315"
      src="https://www.youtube.com/embed/F6rruydac9I"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <br />
    <br />
    <!-- Modal POP_UP-->
    <!-- Button trigger modal -->
    <a
      href="#"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#exampleModalScrollable"
    >
      Quiero invertir con VALHALLA
    </a>
    <a href="" class="btn btn-outline-primary ml-2">
      Ya invierto con VALHALLA</a
    >
    <br />
    <br />
  </div>
</div>

<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper cardBorder">
      <div class="card cardBorder2  mb-3 container" style="max-width: 940px;">
        <div class="row no-gutters ">
          <div class="col-md-4 ">
            <img
              src="../../../assets/img/NICK1.jpg"
              class="card-img"
              alt="cliente1"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body cardBorder2 pb-50">
              <h5 class="card-title tituloTestimonios">
                Evelyn Torres Maldonado
              </h5>
              <p class="card-text subTTestimonios">
                "Desde pequeña tenia una meta, contruir mi propia agencia de
                moda; tras un arduo trabajo en conjunto con los especialistas de
                inversiones VALHALLA, logre desarrollar mi sueño. Siempre
                recomiendo a mis familiares y amigos la asesoria y manejo que
                realiza Pensiones y cesantias VALHALLA. "
                <img
                  class="imgFirmas col-5 "
                  src="../../../assets/img/firma.png"
                  alt="firmaETM"
                />
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="picsum-img-wrapper cardBorder">
      <div class="card cardBorder2 mb-3 container" style="max-width: 940px;">
        <div class="row no-gutters ">
          <div class="col-md-4 ">
            <img
              src="../../../assets/img/NICK2.jpg"
              class="card-img"
              alt="cliente2"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body cardBorder2 pb-50">
              <h5 class="card-title tituloTestimonios">
                Mauricio Galan Cortes
              </h5>
              <p class="card-text subTTestimonios">
                "VALHALLA se tomo el tiempo de explicarnos a mi y a mi equipo de
                trabajo cada detalle de esta opcion tan util. Despues de 10 años
                de mi primera inversión con Pensiones y cesantias VALHALLA,
                puedo asegurar que sera la mejor decision que tome para sus
                proyectos futuros."
                <img
                  class="imgFirmas col-5"
                  src="../../../assets/img/firma2.png"
                  alt="firma MGC"
                />
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="picsum-img-wrapper cardBorder">
      <div class="card cardBorder2 mb-3 container" style="max-width: 940px;">
        <div class="row no-gutters ">
          <div class="col-md-4 ">
            <img
              src="../../../assets/img/NICK4.jpg"
              class="card-img"
              alt="cliente3"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body cardBorder2 pb-50">
              <h5 class="card-title tituloTestimonios">Milena Benitez</h5>
              <p class="card-text subTTestimonios">
                "VALHALLA entendio mis necesidades desde el primer momento, me
                asesoro, me guio y gracias a ello estoy construyendo mi propio
                futuro, como yo quiero y como me lo imaginaba. A nuestra edad
                normalmente no vemos lo significativo que es realizar
                inversiones, pero creanme, es lo mejor que puedes hacer,
                sobretodo si es con VALHALLA."
                <img
                  class="imgFirmas col-5"
                  src="../../../assets/img/firma3.png"
                  alt="firmaMB"
                />
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="picsum-img-wrapper cardBorder">
      <div class="card cardBorder2 mb-3 container" style="max-width: 940px;">
        <div class="row no-gutters ">
          <div class="col-md-4 ">
            <img
              src="../../../assets/img/NICK3.jpg"
              class="card-img"
              alt="cliente4"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body cardBorder2 pb-50">
              <h5 class="card-title tituloTestimonios">
                Marina Ariztizabal y Hector Valbuena
              </h5>
              <p class="card-text subTTestimonios">
                "Definitivamente fue una gran decisión. Desde siempre supimos
                que queriamos invertir para poder ganar. Despues de muchas
                investigaciones nos quedamos con VALHALLA, no solo por sus
                beneficios, si no que mayormente fue por su atención, siempre
                estan disponibles para ayudarnos y solucionar nuestras dudas"
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
