<div class="row container-fluid">
  <form class="col-6" #f="ngForm" (ngSubmit)="registrar()" ngNativeValidate>
    <br>
    <h1>Registro de Empleados</h1><br>
    <p>Nombre</p>
    <input type="text" class="form-control" #nombre="ngModel" name="nombre" [(ngModel)]="empleado.nombre" required><br>
    <p>Apellido</p>
    <input type="text" class="form-control" #apellido="ngModel" name="apellido" [(ngModel)]="empleado.apellido"
      required><br>
    <p>Cédula</p>
    <input type="text" class="form-control" #cedula="ngModel" name="cedula" [(ngModel)]="empleado.cedula" required>
    <small id="emailHelp" class="form-text text-muted">Ingrese solamente los números. No incluya puntos ni
      espacios</small><br>
    <p>Contraseña</p>
    <input type="password" class="form-control" #password="ngModel" name="password" [(ngModel)]="empleado.password"
      required><br>
    <p>Edad</p>
    <input type="text" class="form-control" #edad="ngModel" name="edad" [(ngModel)]="empleado.edad" required><br>
    <p>Empresa</p>
    <input type="text" class="form-control" #empresa="ngModel" name="empresa" [(ngModel)]="empleado.empresa" required><br>
    <p>Fecha de Ingreso</p>
    <input type="date" class="form-control" #fechaIngreso="ngModel" name="fechaIngreso"
      [(ngModel)]="empleado.fechaIngreso" required><br>
    <p>Salario</p>
    <span class="input-group-text">$</span>
    <input type="text" class="form-control" #salario="ngModel" name="salario" [(ngModel)]="empleado.salario"
      required><br>
    <p>Cargo</p>
    <input type="text" class="form-control" #cargo="ngModel" name="cargo" [(ngModel)]="empleado.cargo" required><br>
    <p>Afiliación a Pensiones</p>
    <select type="text" class="form-control" #afiliacionPensiones="ngModel" name="afiliacionPensiones"
      [(ngModel)]="empleado.afiliacionPensiones" required><br>
      <option>Seleccione una opción</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select><br>
    <p>Afiliación a Cesantías</p>
    <select type="text" class="form-control" #afiliacionCesantias="ngModel" name="afiliacionCesantias"
      [(ngModel)]="empleado.afiliacionCesantias" required><br>
      <option>Seleccione una opción</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select><br>
    <input type="checkbox" name="vehicle1" value="Bike" required> Acepto los términos y condiciones de Valhalla y la Política de
    Privacidad<br><br>
    <button type="submit" class="btn btn-primary">Registrarse</button><br><br>
    <div *ngIf="registroCorrecto" class="alert alert-danger">
      {{registroCorrecto}}
    </div>
  </form>