<form class="col-6" #loginForm="ngForm" (ngSubmit)="registrar()" ngNativeValidate>
  <h1>Registro de Empleado</h1>
  <br>
  <p>Nombre</p>
  <input type="text" class="form-control" #nombre="ngModel" name="nombre" [(ngModel)]="empleado.nombre" required>
  <p>Apellido</p>
  <input type="text" class="form-control" name="apellido" #apellido="ngModel" [(ngModel)]="empleado.apellido" required>
  <p>Cédula</p>
  <input type="text" class="form-control" name="cedula" #cedula="ngModel" [(ngModel)]="empleado.cedula" required><br>
  <small id="emailHelp" class="form-text text-muted">Igrese solamente los números. No incluya puntos ni espacios</small>
  <p>Contraseña</p>
  <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="empleado.password"
    required>
  <p>Edad</p>
  <input type="text" class="form-control" name="edad" #edad="ngModel" [(ngModel)]="empleado.edad" required>
  <p>Empresa</p>
  <input type="text" class="form-control" #empresa="ngModel" #empresa="ngModel" [(ngModel)]="empleado.empresa" required>
  <p>Fecha de Ingreso</p>
  <input type="date" class="form-control" #fechaIngreso="ngModel" #fechaIngreso="ngModel"
    [(ngModel)]="empleado.fechaIngreso" required>
  <p>Salario</p>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">$</span>
    </div>
    <input type="text" class="form-control" #salario="ngModel" #salario="ngModel" [(ngModel)]="empleado.salario"
      required>
    <div class="input-group-append">
      <span class="input-group-text">.00</span>
    </div>
  </div>
  <small id="emailHelp" class="form-text text-muted">Igrese solamente el valor. No incluya puntos ni espacios</small>
  <p>Cargo</p>
  <input type="text" class="form-control" #cargo="ngModel" #cargo="ngModel" [(ngModel)]="empleado.cargo" required>
  <p>Afiliación a Pensiones</p>
  <select type="text" class="form-control" #afiliacionPensiones="ngModel" #afiliacionPensiones="ngModel"
    [(ngModel)]="empleado.afiliacionPensiones" required>
    <option>Seleccione una opción</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option></select><br>
  <p>Afiliación a Cesantías</p>
  <select type="text" class="form-control" #afiliacionCesantias="ngModel" #afiliacionCesantias="ngModel"
    [(ngModel)]="empleado.afiliacionCesantias" required>
    <option>Seleccione una opción</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option></select><br>
    <br>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        Acepto los términos y condiciones de Valhalla y la Política de Privacidad
      </label>
    </div>
    <button type="submit" class="btn btn-light">Registrarse</button>
    <br><br>
    <div *ngIf="registroCorrecto" class="alert alert-danger">
      {{registroCorrecto}}
    </div>
</form>