<footer class="page-footer font-small pt-4 footerColor">


    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">

          <h5> <b class="infoRelevante">Línea de servicio</b> </h5>
          <p>Bogotá <b class="infoRelevante">744 44 64</b> / Medellín y Cali <b class="infoRelevante">510 90 99</b> <br>
            Barranquilla <b class="infoRelevante">319 79 99</b> / Cartagena <b class="infoRelevante">642 49 99</b> <br>
            Resto del país desde una línea fija al <b class="infoRelevante">01 8000 52 8000</b> </p>
        </div>

        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
          <ul class="list-unstyled text-center ">
            <li class="pb-2">
              <a class="aColorF font-weight-bold" href="#!">Afíliate</a>
            </li>
            <li class="pb-2">
              <a class="aColorF font-weight-bold" href="#!">Inversiones</a>
            </li>
            <li class="pb-2">
              <a class="aColorF font-weight-bold" href="#!">Cesantías</a>
            </li>
            <li class="pb-2">
              <a class="aColorF font-weight-bold" href="#!">Pensiones</a>
            </li>
          </ul>
        </div>

        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase font-weight-bold "> Síguenos</h5>

          <ul class="list-unstyled">
            <li>
              <a class="navbar-brand aTextR" href="#">
                <img src="assets/img/icon-f.svg" width="18" height="18" alt="Valhalla"> Facebook
              </a>
            </li>
            <li>
              <a class="navbar-brand aTextR" href="#">
                <img src="assets/img/icon-t.svg" width="18" height="18" alt="Valhalla"> Twitter
              </a>
            </li>
            <li>
              <a class="navbar-brand aTextR" href="#">
                <img src="assets/img/icon-i.svg" width="18" height="18" alt="Valhalla"> Instagram
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-copyright text-center py-3 footerColorCopy">© 2019 -
      <span class="corazon"> &#10084; </span> GOFire
    </div>
  </footer>