<div style="height: 70px;"></div>
<h1 class="titulo pb-4"> Aprende de nuestro <b class="font-weight-bolder">equipo GOFire</b> </h1>
<!--Links de Información-->
<div class="card-columns container pb-5">
    <div class="card">
        <a class="aTextNews" href="#">
            <img src="../../../assets/img/Diana.png" class="card-img-top" alt="Diana Muñoz">
            <div class="card-body">
                <h5 class="card-title">Diana Muñoz</h5>
                <p class="card-text">Product owner</p>
            </div>
        </a>
    </div>
    <div class="card">
        <a class="aTextNews" href="#">
            <img src="../../../assets/img/joha.png" class="card-img-top" alt="Johanna Martínez">
            <div class="card-body">
                <h5 class="card-title">Johanna Martínez</h5>
                <p class="card-text">Scrum master</p>
            </div>
        </a>
    </div>
    <div class="card">
        <a class="aTextNews" href="#">
            <img src="../../../assets/img/lau.png" class="card-img-top" alt="Laura Camelo">
            <div class="card-body">
                <h5 class="card-title">Laura Camelo</h5>
                <p class="card-text">Líder Técnico</p>
            </div>
        </a>
    </div>
    <div class="card">
        <a class="aTextNews" href="#">
            <img src="../../../assets/img/tati.png" class="card-img-top" alt="Tatiana Bello">
            <div class="card-body">
                <h5 class="card-title">Tatiana Bello</h5>
                <p class="card-text">Desarrollador-QA</p>
            </div>
        </a>
    </div>
    <div class="card">
        <a class="aTextNews" href="#">
            <img src="../../../assets/img/ivon.png" class="card-img-top" alt="Ivonne Zúñiga">
            <div class="card-body">
                <h5 class="card-title">Ivonne Zúñiga</h5>
                <p class="card-text">Desarrollador-QA</p>
            </div>
        </a>
    </div>
    <div class="card">
        <a class="aTextNews" href="#">
            <img src="../../../assets/img/julieth.png" class="card-img-top" alt="Julieth Ruiz">
            <div class="card-body">
                <h5 class="card-title">Julieth Ruiz</h5>
                <p class="card-text">Desarrolladora</p>
            </div>
        </a>
    </div>
    <div class="card">
        <a class="aTextNews" href="#">
            <img src="../../../assets/img/ana.png" class="card-img-top" alt="Ana Castillo">
            <div class="card-body">
                <h5 class="card-title">Ana Castillo</h5>
                <p class="card-text">Desarrolladora</p>
            </div>
        </a>
    </div>
    <div class="card">
        <a class="aTextNews" href="#">
            <img src="../../../assets/img/vane.png" class="card-img-top" alt="Vanessa Sánchez">
            <div class="card-body">
                <h5 class="card-title">Vanessa Sánchez</h5>
                <p class="card-text">Desarrolladora</p>
            </div>
        </a>
    </div>
    <div class="card">
        <a class="aTextNews" href="#">
            <img src="../../../assets/img/meli.png" class="card-img-top" alt="Melissa Rincón">
            <div class="card-body">
                <h5 class="card-title">Melissa Rincón</h5>
                <p class="card-text">Desarrolladora</p>
            </div>
        </a>
    </div>
    <div class="card">
        <a class="aTextNews" href="#">
            <img src="../../../assets/img/eri.png" class="card-img-top" alt="Erika Soler">
            <div class="card-body">
                <h5 class="card-title">Erika Soler</h5>
                <p class="card-text">Desarrolladora</p>
            </div>
        </a>
    </div>
    <div class="card">
        <a class="aTextNews" href="#">
            <img src="../../../assets/img/jeidy.png" class="card-img-top" alt="Jeidy Valbuena">
            <div class="card-body">
                <h5 class="card-title">Jeidy Valbuena</h5>
                <p class="card-text">Desarrolladora</p>
            </div>
        </a>
    </div>
</div>