<!-- <form>
  <div class="form-group" #loginForm="ngForm" (ngSubmit)="registrar()" ngNativeValidate>
      <h1>Registro de Empresa</h1>
      <p>Razón Social</p>
    <input type="text" class="form-control" #razonSocial="ngModel" name="razonSocial" [(ngModel)]="empresa.razonSocial" required>
  </div>
  <div class="form-group">
      <p>NIT</p>
    <input type="text" class="form-control"  #nit="ngModel" name="nit" [(ngModel)]="empresa.nit" required>
  </div>
  <div class="form-group">
      <p>Contraseña</p>
    <input type="password" class="form-control"  #password="ngModel" name="password" [(ngModel)]="empresa.password" required>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Acepto los términos y condiciones de Valhalla y la Política de Privacidad</label>
  </div>
  <button type="submit" class="btn btn-primary">Registrarse</button><br><br>
  <div *ngIf="registroCorrecto" class="alert alert-danger">
    {{registroCorrecto}}
  </div>
</form> -->