    <style>
        p{
            color: black;
        }
    </style>
<div class="page-header" data-parallax="true">
    <div class="px-3">
        <div class="row my-4 text-white">
            <div class="col-7">
                    <br>
                    <h1>INFORMACION</h1>
                    <br>
                    <p >Hola {{persona.nombre}}</p>
                   
                    <br>
                    <p>Empresa: </p>
                    <p>{{persona.empresa}}</p>
                  
                    <p>Sueldo</p>
                    <p>{{persona.salario}}</p>
                    <br>
                    <p>Cargo</p>
                    <p>{{persona.cargo}}</p>
                   
                    <br>

                    <p>Saldo Cesantias</p>
                    <p>{{persona.saldoCesantias}}</p>
                   
                    <br>

                    <p>Saldo Pensiones</p>
                    <p>{{persona.saldoPensiones}}</p>
                   
                    <br>

                <!-- </form> -->

                
            <div class="col-5"></div>
        </div>
    </div>
</div>

