<div class="page-header" data-parallax="true">
    <div class="px-3">
        <div class="row my-4 text-white">
            <div class="col-7">
                <form #infoForm="ngForm" (ngSubmit)="actualizar()" ngNativeValidate>
                    <br>
                    <h1>INFORMACION</h1>
                    <br>
                    <p>Nombre:</p>
                    <input type="text" class="form-control" #nombre="ngModel" name="nombre" [(ngModel)]="persona.nombre" required>
                    <br>
                    <p>Empresa: </p>
                    <input type="text" class="form-control" name="empresa" #empresa="ngModel" [(ngModel)]="persona.empresa" required>
                    <br>
                    <p>Sueldo</p>
                    <input type="number" class="form-control" #sueldo="ngModel" name="sueldo" [(ngModel)]="persona.sueldo" required pattern="[0-9]">
                    <br>
                    <p>Cargo</p>
                    <input type="text" class="form-control" #cargo="ngModel" name="cargo" [(ngModel)]="persona.cargo" required>
                    <br>
                    <button type="submit" class="button">Actualizar</button>
                    <div *ngIf="actualizacionCorrecta" class="alert alert-danger">
                        {{actualizacionCorrecta}}
                    </div>
                </form>
            </div>
            <div class="col-5"></div>
        </div>
    </div>
</div>

